/* хлебные крошки
**********************************************************/
#boss_content .boss_pathway {
    display: table;
    width: auto;
    margin-bottom: 10px;
}

#boss_content .boss_pathway ul {
    margin: 0;
}

#boss_content .boss_pathway li {
    list-style: none;
    display: block;
    float: left;
    padding: 3px 10px 3px 15px;
    background-image: url("../images/cat_arrow.png");
    background-position: left center;
    background-repeat: no-repeat;
    margin: 0;
    color: #666;
}

#boss_content .boss_pathway li:hover {
}

#boss_content .boss_pathway li a {
    color: #000;
    text-decoration: none;
    border: 0;
}

#boss_content .boss_pathway li a:hover {
    border-bottom: 1px #f00 solid;
}

/*
**********************************************************/
#boss_content article {
    border: 1px #ccc solid;
    margin: 10px;
    position: relative;
    background-color: #fff;
}
#boss_content article.boss_content_featured{
    background-color: #ffc;
}
#boss_content article > h1,
#boss_content article > h3{
    background-color: #ccc;
    padding: 5px;
    text-align: left;
    vertical-align: top;
    font-size: 12pt;
    font-weight: bold;
    margin: -1px 110px 0 -1px;
    border: none;
}
#boss_content article table td h3{
    padding: 5px 7px;
    vertical-align: top;
    font-size: 12pt;
    font-weight: bold;
    margin: 0;
    border: none;
}
#boss_content article table td h3 a{

}
#boss_content article table td h3 a:hover{

}

#boss_content article > h1 a,
#boss_content article > h3 a,
#boss_content article table td h3 a{
    padding: 5px;
    text-align: left;
    vertical-align: top;
    font-size: 12pt;
    font-weight: bold;
    border: none;
}

#boss_content article > h1 a:hover,
#boss_content article > h3 a:hover,
#boss_content article table td h3 a:hover{
    color: #000;
}

#boss_content .boss_cat {
}

#boss_content .boss_cat,
#boss_content .boss_cat a {
    vertical-align: bottom;
    font-weight: normal;
    font-size: 9pt;
    color: #666;
}

#boss_content article > div {
    margin: 3px 15px;
}

#boss_content .boss_vote {
    margin: 10px 0 10px 15px;
}

#boss_content .boss_date {
    padding: 5px 10px;
    color: #f00;
    vertical-align: bottom;
    position: absolute;
    top: -10px;
    right: -3px;
    font-style: italic;
    /*box-shadow: 2px 2px 3px rgba(122, 122, 122, 0.5);*/
    /*border-radius: 15px;*/
    background-color: #f4f2f2;
    border: 1px solid #aaa;
}

#boss_content .boss_content {
    display: table;
}

#boss_content .boss_content img {
    padding: 2px;
    margin: 0 10px 7px 0;
    box-shadow: 0 0 5px rgba(122, 122, 122, 0.5);
}

#boss_content .comments {
    font-size: 8pt;
    color: #999;
    font-style: italic;
    padding: 3px 0;
}

#boss_content .edit > div {
    border-top: 1px solid #900;
    margin: 10px 0;
    padding: 5px 0;
}
/**************** Комментариии */
#boss_content .boss_comments > h2{
    color: #999;
    margin: 0 0 10px 0;
}
#boss_content .boss_comments .dotteddiv{

}
#boss_content .boss_comments .dotteddiv > h3{
    font-weight: normal;
    margin-bottom: 5px;
}
#boss_content .boss_comments .dotteddiv > h3:after{
    content: ':';
}
#boss_content .boss_comments .dotteddiv > h3:first-letter{
    color: #f00;
}
#boss_content .boss_comments .dotteddiv .text{
    box-shadow: 2px 2px 3px rgba(122, 122, 122, 0.5);
    border-radius: 0 0 15px 0;
    background-color: #f9f9f9;
    border: 1px solid #aaa;
    padding: 5px 10px;
    margin: 10px 0;
}
#boss_content .boss_comments .dotteddiv .user{
    color: #999;
    font-style: italic;
    text-align: right;
}

#boss_content .boss_comments .addcomment td{
    padding: 0 10px;
}

#boss_content .boss_comments .addcomment .button input{
    font-size: 10pt;
    color: #000;
    margin: 10px 15px;
    text-decoration: none;
    border: 1px solid #fff;
    padding: 5px 10px;
}

#boss_content .boss_comments .addcomment .button input:hover{
    color: #f00;
    text-decoration: none;
    border-right: 1px solid #999;
    border-bottom: 1px solid #999;
    padding: 5px 10px 5px 9px;
}
#boss_content .boss_pathway{
    padding: 5px;
}
#writecontent_header1{
    color: #f00;
}
#writecontent_header2{
    color: #090;
}
#boss_fieldset{
    padding: 10px;
}

#boss_content div.alphaindex{
    border: 1px solid #aaa;
    padding: 5px;
    width: 450px;
    text-align: center;
}
#boss_content a.alphaindex{
    color: #f00;
    font-weight: 700;
}
#boss_content article div.boss_tpl_search span a{
    text-decoration: none;
    border: none;
}
#boss_content div.back_button{
    margin: 10px;
}

#boss_content article div.boss_subcats {
    line-height: 35px;
    width: auto;
    text-align: left;
    display: table;
}

#boss_content article div.boss_subcats a{
    font-size: 10pt;
    color: #000;
    margin: 0 15px;
    text-transform: uppercase;
    text-decoration: none;
    border: none;
    padding: 5px 10px;
}

#boss_content article div.boss_subcats a:hover,
#boss_content article div.boss_subcats a#active_menu {
    color: #f00;
    text-decoration: none;
    border-right: 1px solid #999;
    border-bottom: 1px solid #999;
    padding: 5px 10px 5px 9px;
}
#boss_content article table{
    margin: 5px 10px;
}
#boss_content article table td{
    padding: 5px;
}
#boss_content article .tpl_image{
    padding: 4px;
    margin: 3px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
}
#boss_content article .tpl_txt{
}
#boss_content article table td .tpl_description{
    margin: 10px 0 0 10px;
}

/*******************************************************************************/
#boss_content .boss_categories .boss_maincat{
    float: left;
    margin: 10px;
    text-align: center;
    padding: 10px;
    border: 1px solid #ccc;
}

#boss_content .boss_categories .boss_maincat:hover{
    background-color: #ffc;
}

#boss_content .boss_categories .boss_maincat > a{
    border: none;
    text-decoration: none;
}


#boss_content .boss_categories .boss_maincat .boss_maincat_title a{
    font-size: 10pt;
    color: #000;
    margin: 0 15px;
    text-transform: uppercase;
    text-decoration: none;
    border: none;
    padding: 5px 10px;
}

#boss_content .boss_categories .boss_maincat .boss_maincat_title a:hover{
    color: #f00;
    text-decoration: none;
}
