/* Карта сайта
------------------------------------------------------*/
div.sitemap article{
    border: 1px #ccc solid;
    margin: 10px 0;
    position: relative;
    background-color: #fff;
}
div.sitemap article > h1{
}

div.sitemap article > h1{
    background-color: #ccc;
    padding: 5px;
    text-align: left;
    vertical-align: top;
    font-size: 12pt;
    font-weight: bold;
    margin: -1px 110px 0 -1px;
    border: none;
}

/* Поиск
------------------------------------------------------*/
#com_search{
    border: 1px #ccc solid;
    margin: 10px;
    position: relative;
    background-color: #fff;
    padding: 10px;;
}

#com_search h1{
    background-color: #ccc;
    padding: 5px;
    text-align: left;
    vertical-align: top;
    font-size: 12pt;
    font-weight: bold;
    margin: -10px 110px 0 -10px;
    border: none;
}
#com_search .nofollow a{
    border: none;
    text-decoration: none;
}