/***************************************************** Статистика */
.moduletable-stat{
    margin: 15px 0;
}
.moduletable-stat h3{
    color: #999;
    padding: 7px 20px;
    border-top: #878787 solid 1px;
    border-bottom: #878787 solid 1px;
    margin-bottom: 10px;
    font-size: 11pt;
    font-weight: normal;
    background-color: #444;
}

/***************************************************** Поиск */
.moduletable-search{
    background-color: #444;
    border-top: #878787 solid 1px;
    border-bottom: #878787 solid 1px;
}
.moduletable-search input.inputbox-search{
    height: 30px;
    padding: 0 20px;
    margin: 0;
    background-color: #444;
    color: #999;
    border: none;
    width: 213px;
}
.moduletable-search input.inputbox-search:focus{
    color: #fff;
    background-color: #666;
}
/***************************************************** Меню пользователя */
.moduletable-new2{
    padding: 0 45px 0 5px;
}
.moduletable-new2 a{
    margin: 10px 10px;
    display: block;
    color: #999;
    border: none;
    text-decoration: none;
}
.moduletable-new2 a:hover{
    color: #fff;
    border: none;
    text-decoration: none;
}
/***************************************************** Верхнее меню */
.moduletable-topnemu a,
.moduletable-topnemu a:hover{
    border: none;
    text-decoration: none;
    padding: 2px;
}
/***************************************************** Слайдшоу */
.moduletable-slider {
    margin: 10px;
    border: 1px solid #999;
    padding: 3px;
}

.moduletable-slider > div {
    margin: 10px auto;
}

.moduletable-slider .gallerylayer img {
    width: 700px;
    height: 300px;
}

/***************************************************** главное меню */
.moduletable-menu1 {
    line-height: 35px;
    margin: 0 auto;
    width: auto;
    text-align: center;
}

.moduletable-menu1 a {
    font-size: 10pt;
    color: #000;
    margin: 0 15px;
    text-transform: uppercase;
    text-decoration: none;
    border: none;
    padding: 5px 10px;
}

.moduletable-menu1 a:hover,
.moduletable-menu1 #mod_menu_easy_a56{
    color: #f00;
    text-transform: uppercase;
    text-decoration: none;
    border-right: 1px solid #999;
    border-bottom: 1px solid #999;
    padding: 5px 10px 5px 9px;
}
/**************************************************** [ Модуль авторизации ] */
.mod_ml_login {
    text-align: left;
    border-top: #878787 solid 1px;
    border-bottom: #878787 solid 1px;
    margin: 15px 0;
}

.mod_ml_login button#log_in,
.mod_ml_login input#logout_button {
    /* Вход регистрация*/
    /* выход */
    cursor: pointer;
    color: #999;
    padding: 7px 0;
    border: none;
    background: none;
    margin-left: 18px;
    width: 100%;
    text-align: left;
    font-size: 11pt;
}

.mod_ml_login div.button{
    background-color: #444;
}

.mod_ml_login div.button:hover {
    background-color: #666;

}

.mod_ml_login button#log_in:hover,
.mod_ml_login input#logout_button:hover {
    color: #fff;
}

.mod_ml_login input#login_button {
    /* Вход на форме */

}

#logout_button:hover, #log_in:hover {
    color: #fff;
}

#login_button:hover {
    color: #000;
    box-shadow: 4px 4px 5px rgba(122, 122, 122, 0.5);
}

#box1 {
    position: fixed;
    margin-left: -120px;
    margin-top: -110px;
    left: 50%;
    top: 50%;
    display: none;
    z-index: 3000;
    background-color: #f4f2f2;
    padding: 20px;
    border: #878787 solid 1px;
    box-shadow: 0 0 5px rgba(122, 122, 122, 0.5);
    width: 240px;
    height: 220px;
    line-height: normal;
    color: #000;

}

.login_form {
    text-align: center;
    height: inherit;
    width: inherit;
}

.login_form > p {
}

.login_form label {
    font-size: 9pt;
    font-weight: bold;
    margin: 2px 4px;
}

.login_form input {
    padding: 2px;
    font-size: 9pt;
    text-align: center;
    background-color: #fffbe4;
    border: #878787 solid 1px;
    margin: 3px;
}

.login_form input:focus {
    background-color: #ffffff;
    box-shadow: 0 0 5px #999999;
}

.login_form a {
    font-size: 10pt;
    color: #444;
    text-decoration: none;
    border: none;
    padding: 0 5px;
}

.login_form a:hover {
    color: #000;
    border-bottom: #900 1px dotted;
}

.closewin {
    position: absolute;
    cursor: pointer;
    display: block;
    height: 16px;
    width: 16px;
    margin: 0;
    padding: 0;
    right: 2px;
    top: 2px;
    z-index: 4000;
    background-image: url("../images/template/cancel.png");
}
