#tpl_body {
    width: 1000px;
    margin: 0 auto;
    min-height: 434px;
    background-color: #f4f2f2;
    background-image: url("../images/template/fon1.png");
    background-repeat: repeat-y;
}

#tpl_left {
    width: 253px;
    float: left;
}

#tpl_left_1 {
    width: inherit;
    height: 130px;
    background-image: url("../images/template/logotype1.png");
}

#tpl_left_2 {
    width: inherit;
    height: 304px;
    background-image: url("../images/template/logotype3.png");
}

#tpl_left_3 {
    width: inherit;
    color: #fff;
}

#tpl_right {
    width: 747px;
    margin: 0 0 0 253px;
}

#tpl_right_1 {
    width: inherit;
    height: 130px;
    background-image: url("../images/template/logotype2.png");
    position: relative;
}
#tpl_right_1_1 {
    position: absolute;
    top: 5px;
    right: 5px;
}
#tpl_right_2 {
    width: inherit;
    min-height: 276px;
    background-image: url("../images/template/logotype4.png");
    background-repeat: no-repeat;
    background-position: left top;
}

#tpl_down {
    width: 1000px;
}

#tpl_down_1 {
    width: 253px;
    height: 60px;
    background-image: url("../images/template/logotype5.png");
    float: left;
    border-top: 1px #fff solid;
}
#tpl_down_1 > div{
    color: #fff;
    text-align: center;
    margin-top: 15px;
    /*line-height: 60px;*/
}

#tpl_down_2 {
    width: 747px;
    height: 60px;
    background-image: url("../images/template/logotype6.png");
    margin: 0 0 0 253px;
    border-top: 1px #000 solid;
}
#tpl_down_2 > div{
    color: #000;
    text-align: center;
    line-height: 60px;
}
