@import "reset.css";
@import "template.css";
@import "modules.css";
@import "components.css";

body {
    color: #000000;
    background-color: #f4f8ff;
    font-family: tahoma;
}

div, p, td, th, a {
    font-size: 10pt;
}

a {
    color: #666;
    text-decoration: none;
    border-bottom: #900 dotted 1px;
}

a:hover {
    color: #000;
    border-bottom: #000 dotted 1px;
}

abbr, acronym {
    border-bottom: 1px dotted #000;
    cursor: help;
}

em {
    font-style: italic;
}

blockquote, ul, ol, dl {
    margin: 1em;
}

ol, ul, dl {
    margin-left: 2em;
}

ol li {
    list-style: decimal outside;
}

ul li {
    list-style: disc outside;
}

dl dd {
    margin-left: 1em;
}

caption {
    margin-bottom: .5em;
    text-align: center;
}

p, fieldset, pre {
    margin-bottom: 1em;
}

strong {
    font-weight: bold;
}
/* коррекция fancybox*/
a#fancybox-close{
    border: none;
    text-decoration: none;
}
/** навигация **/
.pagenavigation{
    display: table;
    margin: 5px auto;
}
.pagenavigation ul{
    margin: 0;
}

.pagenavigation li{
    list-style: none;
    display: block;
    float: left;
    padding: 3px 5px;
    border: 1px solid #e0e0e0;
    margin: 0 3px;
    color: #666;
}
.pagenavigation li:hover{
    background-color: #ffc;
}
.pagenavigation li a{
    color: #000;
}
.pagenavigation li a:hover{
    color: #f00;
}
#time_gen{
    margin: 20px 0 0 40px;
}